---
import background from '../assets/background.svg';
---

<div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
    <footer id="footer">
        <p>
            &copy; Created by Alejandro Garnung Menéndez
            <a href="https://github.com/agarnung" target="_blank" id="github-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.01.08-2.1 0 0 .67-.21 2.2.82a7.68 7.68 0 0 1 2-.27c.68 0 1.36.09 2 .27 1.52-1.04 2.2-.82 2.2-.82.44 1.09.16 1.9.08 2.1.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
            </a>
        </p>
    </footer>
    </main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(500px) brightness(80%);
	}

    #container {
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        height: 100%;
    }

    main {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        color: #4b5563;
        padding: 8px 0; 
        background-color: rgba(255, 255, 255, 0.1);
    }

    #footer a {
        margin-left: 8px;
        color: inherit;
        text-decoration: none;
        transition: color 0.2s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }

    #footer a:hover {
        color: rgb(50, 50, 50);
        scale: 1.1
    }

    #footer svg {
        height: 1.2em;
        top: 2px;
    }
</style>

